.container {
  background-color: $black;

  & .title {
    color: $white;
    white-space: pre-wrap;
  }
}

@include desktop-lg {
  .container {
    padding: calc($grid-desktop-large-margin / 2) $grid-desktop-large-margin;

    & .title {
      font-size: $point-5;
      line-height: calc($point-5);
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@include desktop {
  .container {
    padding: $grid-desktop-margin;
    padding: calc($grid-desktop-margin / 2) $grid-desktop-margin;

    & .title {
      font-size: $point-4;
      line-height: calc($point-4);
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@include tablet {
  .container {
    padding: $grid-tablet-margin;

    & .title {
      font-size: $point-3;
      line-height: calc($point-3);
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@include mobile {
  .container {
    padding: $grid-mobile-margin;

    & .title {
      font-size: $point-3;
      line-height: calc($point-3);
      text-align: center;
      text-transform: uppercase;
    }
  }
}
